@charset "utf-8";

/* CSS Document */


#overlay {
	position: absolute;
	width: 100%;
	height: auto;
	min-height: 100%;
	top: 0;
	left: -15px;
	z-index: 100;
	background:#fff url(../img/loader.gif) no-repeat center center;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; 
	filter: alpha(opacity=60);
	opacity: 0.6;
	display:none;
}
#wizshop-wrapper h1 {
	line-height:18px;
	font-size:22px;
	padding-bottom:0px;
	margin-bottom:0;
}
.sub-header {
	font-size:14px;
	color:#666;
}
#alert-box {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/*border: 1px solid #208C3B;*/
	background: #fff;
	color:#666;
	font-size:14px;
	padding:5px;
	margin-bottom:15px;
	line-height:19px;
	cursor:pointer;
	display:none;
	width:390px;
}
.alert-success {
	border: 1px solid #208C3B;
}
.alert-error {
	border: 1px solid #8C3047;
}

#alert-box i {
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	border-radius: 17px;
	width:17px;
	height:17px;
	font-size:12px;
	line-height:15px;
	text-align:center;
	margin-right:5px;
}
.alert-success i {
	background: #208C3B;
	color:#F2F2F2;
}
.alert-error i {
	background: #8C3047;
	color:#F2F2F2;
}
.btn {
	padding: 4px 20px;
	height: 30px;
	line-height: 22px;
	text-transform: uppercase;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top:15px;
	cursor:pointer;
	text-shadow: 1px 1px rgba(85, 85, 85, 0.6);
	border: 2px solid #F2F2F2;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.25);
	box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.25);
}
i.mce-i-ehp:before {
    font-family: "dashicons";
}
.media-settings {
	padding-bottom:10px;
	margin-bottom:20px;
}


.media-settings th {
	text-align:right;
}
.media-settings label {
	color:#777;
}
.media-settings input[type=text] {
	width:65px;
}

i.mce-i-ehp{
	 background: url('../img/button.jpg');
}

.welcome-panel-last-sas-flash{
	width: 62%;
	float: right;
}

.welcome-panel-last-sas-flash textarea{
	width: 100%;
	min-height: 70px;
}
.ehp-subheader {
	border-bottom: 1px solid #ccc !important;
	line-height:30px !important;
	font-size:16px !important;
	font-weight:700 !important;
	margin-top:10px !important;
}

div.help
{
	color:#444444;
}

.v_ihide {display:none !important;}

#v_menu_meta{
	direction: LTR;
}






/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
 ul.tab-links
 {
	 margin-bottom:0px;
 }
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px;
		margin-right:10px;
        float:left;
        list-style:none;
    }
	.rtl .tab-links li {
		float:right;}
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            background:#e5e5e5;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
			text-decoration:none;
			    border: 1px solid #ccc;
		}
		  .tab-links a:focus
		  {
				outline:none;
				box-shadow:none;
				
        }
 
        .tab-links a:hover {
            background:#f1f1f1;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
		border-bottom-color: white;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        background:#f1f1f1;
		border-top: 1px solid #ababab;
		    margin-top: -1px;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }
		
/* settings page */
div#store-tab th {
    font-weight: normal;
    width: 150px;
    padding: 5px;
    vertical-align: middle;
}

div#store-tab td {padding: 5px;}

div#store-tab table.form-table {
    width:auto;
}	
div#store-tab input#default_css + label {
    font-size: 13px;
}

div#store-tab span.help.dashicons-before.dashicons-info {
    font-size: 13px;
}
.tab-content a.dashicons-before {
    cursor: pointer;
}	
/* setting tables */

.form-field th {
    text-align: right;
}

.form-field td, .form-field th {
    padding: 5px;
}

.readonly {
    background: #dddddd;
    border: 1px solid #cccccc;
    border-radius: 3px;
	    display: block;
    padding: 5px;
	width:160px;
}
.form-field a
{
	color: #0085ba;
	text-decoration:none;
}

.form-field select
{
	width:172px;
}

/* categories page */
select#v_menu_id_select {
    width: 90px;
}

select#v_menu_depth_select {
    width: 60px;
}

table#v_menu_list tbody tr:first-child td {
    padding-top: 15px;
}
table#v_menu_list tbody tr:last-child td {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 15px;
}
.form-field {
    overflow-x: auto;
}

/* products settings page */
[data-wiz-prdoducts-view-sec] h2.sub-header {
    margin-top: 20px;
    margin-bottom: 0px;
}

/*page template*/
[data-wiz-is-tmpl="1"]{
	font-weight: bold;	
}



